

.container { 
    display: flex;
    justify-content: space-around; 
    gap: 20px;
    flex-wrap: wrap;
// padding: 0 1rem;
}
.placebg{
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}
.placebg.img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  
    margin: 10px auto;
  }

  .example-full-width {
    width: 100%;
  }