

section {
  // background-image: url(https://cdn.pixabay.com/photo/2018/01/31/16/12/beach-3121393_1280.png); 
  background-color:  rgb(203, 231, 237);
  height:max-content;
}

.placevlogcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  // background-color: brown;
  box-shadow: 0 10px 20px green;
  border-radius: 8px;
  max-width: 930px;
  margin: 0 auto;
  box-sizing: border-box;
}

mat-card{
  background-color: transparent;
  // box-shadow: 2px 10px 20px green;
}
.placecontent {
  display: flex;
  background-color: transparent;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}
  iframe{
    width: 100%;
  }

  .pname{
    width: 100%;
    display: flex;
  gap:20px
  }
  .name{
    font-size: 1rem;
    font-weight: 800;
    color: black;
  }
  .dname{
    color: rgb(0, 0, 0);
    font-weight: 400;
  }

  .place-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
  
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  
  .video-container {
    width: 100%;
    max-width: 930px;
    overflow: hidden;
  }
  
