<!-- <h1>movie id is {{ id }}</h1> -->
<style>
  body {
    background-color: aqua;
  }
</style>
<section>
  <div class="placevlogcard">
    <div class="video-container">
      <iframe
        width="674"
        height="379"
        [src]="place.placevlog"
        title="Paris | Travel Video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card>
      <div class="placecontent">
        <div class="pname">
          <span class="name">{{ place.destination }}</span>

          <button
            (click)="toggledescription()"
            mat-icon-button
            aria-label="Expand Less"
          >
            <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
            <ng-template #moreIcon>
              <mat-icon>expand_more</mat-icon>
            </ng-template>
          </button>

          <span class="name">⭐{{ place.rating }}</span>
        </div>

        <div class="place-detail">
          <p *ngIf="show" class="content">{{ place.description }}</p>
          <em class="dname"
            ><strong>Best time to visit:</strong
            >{{ place?.date | date : "MMMM" }}</em
          >
          <span class="dname"
            ><strong>Activities:</strong>{{ place.activities }}</span
          >
          <span class="dname"
            ><strong>Suggestions:</strong>{{ place.suggestions }}</span
          >
        </div>
      </div>
    </mat-card>
  </div>
</section>
