

.lnavbar {
    display: none;
    background-color: skyblue;
    // align-items: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    // justify-content: space-between;
    color:black;
  }

.navbar{
    background-color: skyblue;
    display: block;
    position: fixed;
    top: 0px;
    z-index: 2;
}
.logo {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: orangered !important; 
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 768px) {
    .lnavbar {
      display: flex;
      justify-content: space-between;
    }
    .navbar {
      display: none;
    }
  }
  
  