<mat-card (mouseenter)="hovered = true" (mouseleave)="hovered = false">
  <div class="placecard">
    <!-- <img
      src="{{ Place.place }}"
      alt="place"
      class="poster zoom-on-hover"
      *ngIf="!hovered"
    />
    <img
      src="{{ Place.destination }}"
      alt="newPlace"
      class="poster zoom-on-hover"
      *ngIf="hovered"
    /> -->
    <img src="{{ Place.place }}" alt="place" class="poster zoom-on-hover" />
    <p *ngIf="Place.popular" class="placebadge">Popular</p>
    <div class="placecontent" *ngIf="hovered">
      <div class="Pname">
        <span class="name">
          <mat-icon>place</mat-icon> {{ Place.destination }}</span
        >
        <button class="info" (click)="getdetails()">
          <mat-icon>info</mat-icon>
        </button>
        <span class="name">⭐{{ Place.rating }}</span>
      </div>
      <span
        ><em>BEST TIME TO VISIT: </em> {{ Place.date | date : "MMMM" }}</span
      >
      <!-- <em>{{ Place.date | date : "MMMM" }}</em> -->
      <!-- <p *ngIf="show" class="content">{{ Place.description }}</p> -->
      <div class="footer">
        <app-counter
          [count]="Place.like"
          [dcount]="Place.dislike"
          (likeCount)="updateLikes($event)"
          (dislikeCount)="updateDislikes($event)"
        ></app-counter>
        <span class="crudbuttons">
          <button
            class="deletebutton"
            mat-icon-button
            color="warn"
            (click)="delPlace()"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <button
            class="editbutton"
            mat-icon-button
            color="primary"
            (click)="editPlace()"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <!-- <button (click)="delMovie()">Delete Movie</button> -->
  </div>
</mat-card>
<!-- <mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator> -->
