:root {
    --background-color: #fff;
    --text-color: #333;
  }
  
  body {
    background-color: var(--background-color);
    // color: var(--text-color);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

}



.snackbar-success{
    min-width: 30%;
   min-height:10px;
  }




  