

.container { 
    display: flex;
    justify-content: space-around; 
    gap: 30px;
    flex-wrap: wrap;
padding:1rem;
}
.placebg{
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}
.placebg.img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  
    margin: 10px auto;
  }

  .example-full-width {
    width: 100%;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    z-index: 999; /* Optional: use a high z-index to ensure it's on top of other content */
  }

  @media(max-width:700px){
    .container{
      justify-content: center;
      width: 80%;
    }
  }
  