<div class="background-container">
  <form [formGroup]="searchForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search places</mat-label>
      <mat-icon matPrefix>location_searching</mat-icon>
      <input
        formControlName="search"
        type="search"
        matInput
        placeholder="Ex. goa"
        list="search_list"
      />

      <datalist
        *ngIf="
          searchForm.get('search')?.value !== null &&
          searchForm.get('search')?.value !== ''
        "
        id="search_list"
      >
        <option
          class="option"
          *ngFor="let place of places"
          [value]="place.destination"
        >
          <!-- {{ place.destination }} -->
        </option>

        <!-- <option class="option" value="C++">C++</option> -->
      </datalist>
      <!-- *ngIf="
      searchForm.get('search')?.value !== null &&
      searchForm.get('search')?.value !== ''
    " -->
      <!-- <mat-icon matSuffix (click)="onCancel()">cancel</mat-icon> -->
    </mat-form-field>
    <div class="sort">
      <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="onSortChange($event)">
          <mat-option value="popular">destination</mat-option>
          <mat-option value="rating">Rating</mat-option>
          <mat-option value="date">Best time to visit</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Order</mat-label>
        <mat-select (selectionChange)="onOrderChange($event)">
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="desc">Descending</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <section
    appInfiniteScroll
    apiEndpoint
    [pageSize]="4"
    [searchTerm]="searchTerm"
    (items)="onNewItems($event)"
    (loading)="onLoadingChange($event)"
  ></section>
  <div class="container">
    <img
      src="https://cdn.pixabay.com/photo/2016/06/10/22/19/beach-1449008_1280.jpg"
      class="placebg"
    />

    <app-travel
      *ngFor="let place of places; let i = index"
      [Place]="place"
      [idx]="i"
      (rmvPlace)="loadPlacesData()"
    >
    </app-travel>
  </div>
</div>
